# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
.venv/
env/
venv/

# Ignore environment/config files
.env
*.env


# Ignore VS Code settings (optional)
.vscode/

# Ignore temporary/log files
*.log
*.tmp
*.mat
*.txt

LL/
hv/
hv_pressure_scan/
lookUpTables/
png/
thp/
tmp/
sweap_202_205/
sweap_197_199
rise2/
sweap4/